#services {
    text-align: center;
    %titre {
        font-family: olivier;
        font-size: 2em;
        font-weight: 400;
        // width: 14.625em;gcc
        text-shadow: 0 .313em .363em rgba(1, 1, 1, .65);
         @include transform(rotate(-25deg) translate(0, -0.5em)) ;
    }
    #titre1 {
        color: #30548e;
        // Text style for "Nos services.."
        @extend %titre;
    }
    #titre2 {
        // Text style for "Innovants..."
        color: white;
        @extend %titre;
    }
    #titre3 {
        color: red;
        @extend %titre;
    }
    /* contexte général flex sur le conteneur */
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        @include background-image(linear-gradient(63deg, rgba($bordure, 0) 0%, rgba($bordure, .01) 50%, rgba($bordure, 0) 100%));
    }
    .rectangle {
        width: 25%;
        height: 100hv;
        margin: 0;
        padding: 10px;
        border-radius: 10px;
        background-image: url('../img/rectangle1.png') ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h3 {
        font-family: georgia, 'trebuchet ms', arial, seri3;
        margin: 1em 0;
        text-align: center;
        color: #345;
        text-shadow: 0 1px 1px #fff;
    }
}
