@charset "UTF-8";
/* Decoration */
body {
  margin: 1em;
  font-family: "Century Gothic", helvetica, arial, sans-serif;
  font-size: 1em;
}

/* Layout */
* {
  box-sizing: border-box;
}

footer {
  text-align: center;
}

#acceuil {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: stretch;
}
#acceuil p {
  text-align: center;
}
#acceuil p .societe {
  font: 400 42px / 1.92px olivier;
}
#acceuil p .acitivite {
  font: 400 30px / 1.92px Consolas;
}
#acceuil #prestservice {
  min-height: 100vh;
  width: 80%;
  margin: 0;
  padding: 0;
  background-image: url("../images/accueil-cathy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: relative;
}
#acceuil #prestservice nav {
  position: absolute;
  bottom: 0;
  left: 0;
}
#acceuil #prestservice nav #menu {
  display: flex;
  width: 10rem;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-left: 1rem;
}
#acceuil #prestservice nav #menu .item:nth-child(odd) {
  align-self: flex-end;
}

#services {
  text-align: center;
  width: 90%;
  display: flex;
  min-height: 100vh;
  margin: 2rem;
  justify-content: center;
  align-items: stretch;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5OTIwMSIgeTE9IjAuODA1MzA4IiB4Mj0iMS4wOTkyMDEiIHkyPSIwLjE5NDY5MiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNTQ4ZSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzMwNTQ4ZSIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzA1NDhlIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(27deg, rgba(48, 84, 142, 0) 0%, rgba(48, 84, 142, 0.01) 50%, rgba(48, 84, 142, 0) 100%);
  background-image: -webkit-linear-gradient(27deg, rgba(48, 84, 142, 0) 0%, rgba(48, 84, 142, 0.01) 50%, rgba(48, 84, 142, 0) 100%);
  background-image: linear-gradient(63deg, rgba(48, 84, 142, 0) 0%, rgba(48, 84, 142, 0.01) 50%, rgba(48, 84, 142, 0) 100%);
  /* contexte général flex sur le conteneur */
}
#services #titre1, #services #titre2, #services #titre3 {
  font-family: olivier;
  font-size: 2em;
  font-weight: 400;
  text-shadow: 0 0.313em 0.363em rgba(1, 1, 1, 0.65);
  -moz-transform: rotate(-25deg) translate(-2rem, 3.5rem);
  -ms-transform: rotate(-25deg) translate(-2rem, 3.5rem);
  -webkit-transform: rotate(-25deg) translate(-2rem, 3.5rem);
  transform: rotate(-25deg) translate(-2rem, 3.5rem);
}
#services #titre1 {
  color: #30548e;
}
#services #titre2 {
  color: white;
}
#services #titre3 {
  color: red;
}
#services .texte {
  padding-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.8rem;
}
#services .container {
  text-align: center;
  width: 80%;
  display: flex;
  min-height: 100vh;
  margin: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
#services .rectangle {
  width: 28%;
  border-radius: 10px;
  background-image: url("../images/rectangle1.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 95%;
  -moz-background-size: 95%;
  -o-background-size: 95%;
  background-size: 95%;
}
#services h3 {
  font-family: georgia, 'trebuchet ms', arial, seri3;
  margin: 1em 0;
  text-align: center;
  color: #345;
  text-shadow: 0 1px 1px #fff;
}

@media screen and (min-width: 750px) {
  #prestservice p {
    display: none;
  }
}
